.wp-citylife-spots-images-thumbnail{
    height: 150px;
    margin: 5px;
    display: inline-block;
}
 .wp-citylife-spots-facebook-icon,
 .wp-citylife-spots-twitter-icon{
    width: 23px;
    height: 23px;
    margin-right: 5px;
 }
 .wp-citylife-spots-facebook-link{
    display: inline-block;
    margin-bottom: 10px;
 }

a.wp-citylife-spots-has-img{
   text-decoration: none;
   display: inline-block;
}
