.wp-citylife-spots-images img{
	height: 150px;
	margin: 7px;
}
.wp-citylife-spots-images img:first-child{
	margin-left: 0;
}
.wp-citylife-spots-images img:last-child{
	margin-right: 0;
}
 .wp-citylife-spots-facebook-icon,
 .wp-citylife-spots-twitter-icon{
 	width: 23px;
 	height: 23px;
 	margin-right: 5px;
 }
 .wp-citylife-spots-facebook-link{
 	display: inline-block;
 	margin-bottom: 10px;
 }